<!DOCTYPE html>
<html>
  <head>
    <title>Frello</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <nav>
    <div class="nav-wrapper">
      <div class="brand-logo center">Frello</div>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Boards', boards_path %> </li>
        <li><%= link_to 'Create a new Board', new_board_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %> </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <body>
    <%= yield %>
    </body>
    <p> Current user: <%= current_user.email unless current_user.nil? %></p>
  </div>
</html>
