<!DOCTYPE html>
<html>
<head>
  <title>Frello</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<p> Current user: <%= current_user.email unless current_user.nil? %></p>

</html>
